@media screen and (max-width: 768px){
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile ul{
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        display: none;
    }

    .menu-mobile i{
        font-size: 35px;
    }

    .menu-mobile ul li{
        display: block;
        margin: 0;
    } 

    .menu-mobile ul li a{
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding: 10px 0;
    }
}