@media screen and (max-width: 1024px){
    .apresentacao .container{
        flex-direction:column-reverse;
        align-items: center;
    }
    
    .apresentacao h1{
        font-size: 45px;

    }
    
    .apresentacao-texto{
        max-width: 500px;
    }
    
    .foto{
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width: 768px){
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .menu-mobile ul{
        position: absolute;
        left: 0;
        top: 70px;
        width: 100%;
        display: none;
        border-bottom: 1px solid #dddddd;
    }

    .menu-mobile i{
        font-size: 35px;
        cursor: pointer;
        transition: 0.4s;
    }

    .menu-mobile i:hover{
        transform: scale(1.05);
    }

    .menu-mobile ul li{
        display: block;
        margin: 0;
    } 

    .menu-mobile ul li a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 10px 0;
    }
}

@media screen and (max-width: 425px){

    .apresentacao{
        padding: 10px 2% 80px 2% ;
    }
    
    .foto{
        margin-bottom: 10px;
    }

    .apresentacao h1{
        font-size: 35px;
    }

    .foto .left{
        display: none;
    }
    
    .foto .right{
        display: none;
    }

    .apresentacao .butao{
        margin: 0 auto;
    }
    
}