/* Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* ********************* */

/* Header */

header{
    padding: 20px 2%;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2{
    font-size: 28px;
    color: #070F18;
    font-weight: 600;
    text-decoration: underline;
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 20px;
}

header ul li a{
    text-decoration: none;
    color: #070F18;
}

.menu-mobile{
    display: none;
}
/* ****** */

